@import url("https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto+Slab:300&display=swap");
* {
	color: #ccc;
}

body {
	background-color: #333;
	font-family: KaTeX_Main, Times New Roman, serif;
}

.main {
	width: 66%;
	margin: auto;
}

@media screen and (max-width: 600px) {
	.main {
		width: 100%;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-block-end: .33em;
}

p, ul, ol {
	margin-block-start: .25em;
	margin-block-end: .25em;
}

h1+div, h2+div, h3+div, h4+div, h5+div, h6+div {
	margin-inline-start: 2em;
}

.katex-display {
	display: inline-block !important;
}

.katex {
	font-size: 1em;
}

/* textsc hack */

.katex .mathtt {
	font-family: KaTeX_Main;
	font-variant: small-caps;
}

/* Column Display */

div.column-wrapper {
	display: flex;
}

div.column {
	flex: 50%;
}

/* Tree CSS modified from Philipp Khn */

/* https://codepen.io/philippkuehn/pen/QbrOaN */

.tree ul {
	position: relative;
	padding: 1em 0 0 0;
	white-space: nowrap;
	margin: 0 auto;
	margin-block-start: 0;
}

.tree>ul {
	padding-bottom: 1em;
	display: inline-block;
}

.tree ul::after {
	content: '';
	display: table;
	clear: both;
}

.tree li {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 1em 0 0 0;
}

.tree li::before, .tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #ccc;
	width: 60%;
	height: 1em;
}

.tree li::after {
	right: auto;
	left: 50%;
	border-left: 1px solid #ccc;
}

.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

.tree li:only-child {
	padding: 0;
}

.tree li:first-child::before, .tree li:last-child::after {
	border: 0 none;
}

.tree li:first-child::after {
	border-radius: 5px 0 0 0;
}

.tree li:last-child::before {
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
}

.tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid #ccc;
	width: 0;
	height: 1em;
}

.tree ul ul.dots::before {
	border-left: 3px dotted #ccc;
	width: 0;
}

.tree li p {
	border: 1px solid #ccc;
	padding: .5em .75em;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	position: relative;
	top: 1px;
	margin-block-start: 0;
}